
     Dear  ${userName}, 
        Congratulations on making your first step towards boosting EAM-Client interactions at your company! You are currently on a trial plan, which will expire in 30 days. The trial shares the exact same features as the Dragon Wealth app. If you wish to continue to enjoy the same features as you have in your trial, please remember to subscribe on time.
        
        Below you will find important information about your account, please keep it safe.
        
      
      
        Your login:  ${loginEmailId}
        Your password: ${password} 
        If you have any questions, please contact us at sukantasamanta@xyz.com and we will come back to you as soon as possible.
        Thank you for your participation, 
        <font size="3"  color="red">Test</font>

    